FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=A_RANDOM_STRING

MYSQL_HOST=HOSTNAME
MYSQL_PORT=PORT
MYSQL_USER=USER
MYSQL_PASSWORD=PASSWORD
MYSQL_DB=rural_health_db

SESSION_TYPE=filesystem

ZOHO_EMAIL=MAIL
ZOHO_PASSWORD=PASSWORD