FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=dev-secret-key-change-in-production

MYSQL_HOST=dbhost
MYSQL_PORT=dbport
MYSQL_USER=dbuser
MYSQL_PASSWORD=dbpass
MYSQL_DB=rural_health_db

SESSION_TYPE=filesystem

ZOHO_EMAIL=mail
ZOHO_PASSWORD=password